<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add an Album</h1>

    <form method="post">

    <input type="text" name="title" placeholder="Title" required>

    <input type="text" name="artist" placeholder="Artist" required>

    <input type="number" name="year" placeholder="Year" required>

    <input type="number" step="0.1" name="rating" placeholder="Rating" required>

    <input type="text" name="genre" placeholder="Genre" required>

    <input type="file" name="cover" required>

    <input type="submit" value="Add Album">

</form>
</body>
</html>