<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kanesite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">

  </head>
  <body class="bg-dark text-light">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>


    
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='images/kanesiteLOGO.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          Kanesite
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('get_musicb') }}">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('search_item') }}">Advanced Search</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Playlists
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('get_playlists') }}">View Playlists</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url_for('create_playlist') }}">Create a Playlist</a></li>
              </ul>
            </li>
          </ul>
            
          <form class="d-flex" role="search" action="{{ url_for('get_musicb') }}" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" name="title" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

        {% block content %}
        {% endblock %}

 <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"> 
  <p class="col-md-4 mb-0 ">© 2025 Company, Inc</p> 
  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap"> 
    <img src="{{ url_for('static', filename='images/kanesiteLOGO.png') }}" width="30" height="30" alt="Logo">
  </a>
   <ul class="nav col-md-4 justify-content-end">
     <li class="nav-item">
      <a href="{{ url_for('get_musicb') }}" class="nav-link px-2 text-light">Home</a>
    </li> 
    <li class="nav-item">
      <a href="{{ url_for('search_item') }}" class="nav-link px-2 text-light">Search</a>
    </li> 
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-light">Nothing</a>
    </li> 
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-light">Kane</a>
    </li> 
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-light">Cool</a>
    </li> 
  </ul>
 </footer>


    <script>

      if ('serviceWorker' in navigator) {

        window.addEventListener('load', () => {

          navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")

            .then((reg) => console.log('Service worker registered.', reg))

            .catch((err) => console.log('Service worker registration failed:', err));

        });

      }

    </script>


  </body>
</html>