{% extends 'base.html' %}

{% block content %}

    <h1>Search for an Album / Song</h1>
    <form action = "{{ url_for('get_musicb') }}" method = "GET">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" placeholder="ABC" name ="title">
        <label for="floatingInput">Title</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="artist" placeholder="The Jackson 5" name = "artist">
        <label for="floatingInput">Artist</label>
      </div>

      <input type="radio" class="btn-check" name="recrel" id="success-outlined" autocomplete="off" value="release">
      <label class="btn btn-outline-success" for="success-outlined">Album</label>

      <input type="radio" class="btn-check" name="recrel" id="danger-outlined" autocomplete="off" value="recording" checked>
      <label class="btn btn-outline-danger" for="danger-outlined">Song</label>
      

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="10" name="limit">
        <label for="floatingInput">Limit</label>
      </div>
    
    <button class="btn btn-primary" type="submit">Submit form</button>

    </form>
    {% endblock %}